body {
    background-color: #2f14aa;
    color: rgb(254, 255, 255);
    font-family: "Creepster", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Geist", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}